html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

/* Tamaño de una table aprox */
@media (min-width: 768px) {
    .contenedor-flex {
        /* Habilitafmos la funcionalidades de flexbox */
        display: flex;
        justify-content: space-between;
    }

    .contenido-principal {
        /* Ajusta el ancho del item*/
        flex-basis: calc(60% - 1rem);
    }

    .sidebar {
        /* Ajusta el ancho de los item de flexbox */
        flex-basis: calc(20% - 1rem);
    }

    /* Movemos el sidebar-1 a la izquierda */
    .sidebar-1 {
        /* Mueve primero el elemenot, y despues los otros
        con forme va el flujo de html */
        order: -1;
    }
}